<main class="container">
  <header class="navBar" *ngIf="isMenuRequired">
    <div>
      <img
        width="60"
        alt="Angular Logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/640px-Angular_full_color_logo.svg.png"
      />

      <a routerLink="">Home</a>
      <a *ngIf="isAdminUser" routerLink="/user">User</a>
    </div>

    <a routerLink="/login">Logout</a>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
